{{ define "main" }}

<!-- Banner -->
{{ with .Site.GetPage "/homepage/banner.md" }}
<section class="banner-main py-7" id="banner">
  <div class="container">
    <div class="row justify-content-between">
      <div class="col-lg-7 col-md-8">
        <div class="main-banner">
          <span class="text-color font-weight-bold">{{ .Params.writter | markdownify }}</span>
          <h1 class="mb-3 mt-2">{{ .Params.title | markdownify }}</h1>
        </div>
      </div>
      {{ if .Params.image }}
      <div class="col-lg-5 d-none d-lg-block">
        <div class="banner-img pt-5">
          <img src="{{ .Params.image | relURL }}" alt="{{ .Params.title | markdownify }}" class="img-fluid w-100">
        </div>
      </div>
      {{ end }}
    </div>
  </div>
</section>
{{ end }}

<!-- Book Download -->
{{ with .Site.GetPage "/homepage/download.md" }}
<section class="section" id="book">
  <div class="container">
    <div class="row">
      <div class="col-lg-5">
        <div class="book-preview">
          <img src="{{`images/about/kindle.png` | relURL}}" class="background-device img-fluid" alt="device">
          <div class="book-pages">
            {{ range .Params.pagePreview }}
            <div class="item">
              <img src="{{ .image | relURL }}" alt="page-preview" class="img-fluid">
              <div class="overlay">
                <a href="{{ .image | relURL }}" class="popup-gallery img-fluid" data-title="Preview"><i
                    class="ti-fullscreen"></i></a>
              </div>
            </div>
            {{ end }}
          </div>
        </div>
      </div>

      <div class="col-lg-6">
        <div class="section-heading book-info mt-5 mt-lg-0" style="text-align: center">
          <h2 class="text-lg mb-4" style="margin-top: 150px;">{{ .Params.title | markdownify }}</h2>

          {{ if .Params.button.enable }}
          {{ with .Params.button }}
          <a href="{{ .link | safeURL }}" class="btn btn-main-2" style="margin-top: 80px;">{{ .label }}</a>
          {{ end }}
          {{ end }}
        </div>
      </div>
    </div>
  </div>
</section>
{{ end }}

<!-- Quote -->
{{ with .Site.GetPage "/homepage/quote.md" }}
<section class="section bg-grey" id="quote">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-8">
        <div class="text-center">
          <blockquote class="blockquote">
            <h2 class="text-lg">"{{ .Params.quote | markdownify }}"</h2>
          </blockquote>
        </div>
      </div>
    </div>
  </div>
</section>
{{ end }}

<!-- feature  -->
{{ with .Site.GetPage "/homepage/feature.md" }}
<section class="pt-4 section-bottom" id="service">
  <div class="container">
    <div class="row align-items-center">
      {{ range .Params.featureItem }}
      <div class="col-lg-3 col-md-6 col-sm-6">
        <div class="service-block mb-4 mb-lg-0">
          <i><img src="{{.icon}}"></i>
          <h4 class="mb-3 mt-4">{{ .title | markdownify }}</h4>
        </div>
      </div>
      {{ end }}
    </div>
  </div>
</section>
{{ end }}

<!-- introduction -->
{{ with .Site.GetPage "/homepage/introduction.md" }}
<section class="feature-home section" id="device">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-8">
        <div class="text-center">
          <blockquote class="blockquote">
            <h2 class="text-lg">"{{ .Params.title | markdownify }}"</h2>
          </blockquote>
          {{ with .Params.button }}
          <a href="{{ .link | safeURL }}" class="btn btn-main-2" style="margin-top: 50px;">{{ .label }}</a>
          {{ end }}
        </div>
      </div>
    </div>
  </div>
</section>
{{ end }}

<!-- team-->
{{ with .Site.GetPage "/homepage/team.md" }}
<section class="section-bottom testimonial" id="review">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-6 col-md-12">
        <div class="section-heading text-center">
          <h2 class="mb-3 text-lg">{{ .Params.title | markdownify }}</h2>
        </div>
      </div>
    </div>

    <div class="row align-items-center">
      <div class="col-lg-12 col-sm-12 col-md-12 testimonial-wrap">
        {{ range .Params.team}}
        <div class="test-item">
          <div class="testimonial-item-content">
            <div class="test-author-thumb mb-4">
              <img src="{{ .image | relURL }}" alt="Testimonial author" class="img-fluid">
              <div class="test-author-info mt-4">
                <h4 class="mb-0 mt-2">{{ .name }}</h4>
                <p>{{ .designation }}</p>
              </div>
            </div>
            <p class="mb-0">{{ .content | markdownify }}</p>
          </div>
        </div>
        {{ end }}
      </div>
    </div>
  </div>
</section>
{{ end }}

<!-- join -->
{{ with .Site.GetPage "/homepage/join.md" }}
<section class="section bg-grey" id="quote">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-8">
        <div class="text-center">
          <blockquote class="blockquote">
            <h2 class="text-lg">"{{ .Params.title | markdownify }}"</h2>
          </blockquote>
          {{ with .Params.button }}
            <a href="{{ .link | safeURL }}" class="btn btn-main-2"  style="margin-top: 50px;">{{ .label }}</i></a>
          {{ end }}
        </div>
      </div>
    </div>
  </div>
</section>
{{ end }}

<!-- Contact -->
{{ with .Site.GetPage "/homepage/contact.md" }}
<section class="section contact bg-grey" id="contact">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-12 col-lg-8">
        <div class="section-heading text-center">
          <h2 class="mb-2 text-lg">{{ .Params.title | markdownify }}</h2>
          <p>{{ .Params.subtitle | markdownify }}</p>
        </div>
      </div>
    </div>

    <div class="row">
      {{ range .Params.contactItem }}
      <div class="col-lg-4 col-sm-6">
        <div class="contact-info-block text-center mb-4" style="height: 290px;">
          <i><img src="{{.icon}}"></i>
          <p class="mb-0">{{ .title | markdownify }}</p>
          {{ range .list }}
          <h5>{{ .listItem }}</h5>
          {{ end }}
        </div>
      </div>
      {{ end }}
    </div>
  </div>
</section>
{{ end }}

{{ end }}